.video-player-container {
  width: 100% !important;
  overflow-y: hidden;
  height: 92vh;
}
.player {
  float: left !important;
  width: 65% !important;
  margin-bottom: 0;
}
.side-video-player {
  width: 35% !important;
  margin-left: 2.5%;
  float: right;
  height: 100vh;
  margin-bottom: 0;
}
.player .youtube-player {
  padding-top: 3em;
  height: 80vh;
  width: 100%;
}
.related-videos {
    overflow-y: auto;
    height: 45vh;
}
.related-videos li {
    padding-bottom: 1em;
}
.meta .video-information .title {
  color: black;
}


.meta .video-information .rank {
    display: inline-flex;
    font-size: large;
    float: right;
}

.vote-icon {
    margin-right: 2px;
}
.player .video-information .added-by {
    float: right;
}

.player .video-information {
  margin-top: 1vh;
}

.vote-box .votes {
    font-size: large;
}
.meta .video-information p {
  height: 20vh;
  overflow-y: auto;
}
.add-folder-button{
  position: absolute;
  top: 100px;
  right: 30px; 

}