.subtopic-root {
  width: 20vw;
  color: #00416a;
  width: 100%;
}
.subtopic-root .subtopic-card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  width: 100%;
  height: 22.5vh;
  text-align: center;
}
.subtopic-root .subtopic-card .subtopic-card-name {
  font-size: 1.5vw !important;
}

.subtopic-root .subtopic-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.subtopic-root .subtopic-card .title-and-desc .subtopic-card-name {
  margin: 1rem 0 1rem 0;
  font-weight: 600;;
  overflow-x: auto;
}
.subtopic-root .subtopic-card .title-and-desc .subtopic-card-description {
  overflow: auto;
}
.subtopic-root .subtopic-card .title-and-desc {
  width: 100%;
}

.subtopic-root .subtopic-card .icon {
  height: 3vw;
  width: 6vh;
}