.subtopic {
  width: 20em;
  color: #00416a;
}
.card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.subtopic-card-name {
  margin: 1rem 0 1rem 0;
  font-weight: 600;
  font-size: 2vw;
  overflow-x: auto;
  line-height: 140%
}
.subtopic-card-description {
  height: 45px;
  overflow: auto;
}
.title-and-desc{
  width: 100%;
}

.subtopic{
  width: 100%;
}
.logo{
  height: 3rem;
  width: 3rem;
}