.topic-card .topic-card-root {
  border-radius: 0px !important;
}

.topic-card .topic-card-root .topic-card-media {
  height: 15vh;
}

.topic-card h2 {
  color: #00416a !important;
  text-align: center;
  font-size: 1.5vw;
}

.topic-card {
  max-width: 18vw;
  margin: 0 auto;
  height: 27.5vh;
}

.topic-card .topic-card-root button {
  background-color: white !important;
}

.topic-card .topic-card-root .topic-name {
  height: 6vh;
  font-size: 1.25vw;
  overflow-y: auto;
  line-height: 100%;
  text-align: center;
}

.topic-card .topic-card-root .topic-card-button-left {
  margin: 0 0 !important;
  min-width: 1.75vw !important;
}

.topic-card .topic-card-root .topic-card-button-right {
  margin-left: 80% !important;
  min-width: 1.75vw !important;
}

.topic-card .topic-card-root .topic-card-back-content {
  height: 85% !important;
}
