#card-root {
  border-radius: 0px !important;
}
#card-media {
  height: 8.75em;
}

#card h2 {
  color: #00416a !important;
  text-align: center;
}
#card {
  max-width: 21.6em;
  margin: 0 auto;
  height: 19em;
}
#card button {
  background-color: white !important;
}
#topic-name {
  height: 3em;
  overflow-y: auto;
  line-height: 100%;
  text-align: center;
}

.topic-card-button-left {
  margin: 0 0 !important;
  min-width: 20px !important;
}
.topic-card-button-right {
  margin-left: 80% !important;
  min-width: 20px !important;
}
#topic-card-back-content {
  height: 85% !important;
}
