#navbar-logo{
    height: 20% !important;
    width: 40% !important;
    margin-top: 5%;
}
#appbar-unauth {
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

