.add-video-to-folder-modal {
  width: 100%;
  margin-top: 12.5vh;
}

.add-video-form {
  margin: 2% auto;
  padding: 2% 4%;
  background: #f4f7f8;
  border-radius: 8px;
}

.add-video-modal-root {
  background-color: #f4f7f8;
}
.add-video-modal-root {
  vertical-align: middle;
}
.add-video-form {
  font-size: large;
}
.submit-video-button {
  width: 100%;
  background-color: #00416a !important;
  color: white !important;
  height: 6vh;
}

fieldset {
  border-radius: 10px;
  border-color: #00416a;
  padding-bottom: 5%;
  margin-bottom: 5%;
}

legend {
  font-size: x-large;
  text-align: center;
}

label {
  font-size: medium;
  text-align: left;
}

.add-video-modal .title {
  text-align: center;
  color: #00416a;
}
