.video-card-root {
  border-radius: 0px !important;
  height: 100%;
}
.video-card-media {
  height: 8.75em;
}

.video-card h2 {
  color: #00416a !important;
  text-align: center;
}
.video-card {
  max-width: 21.6em;
  margin: 0 auto;
  height: 20em;
}
.video-card button {
  background-color: white !important;
}
.video-name {
  height: 3em;
  overflow-y: auto;
  line-height: 100%;
  text-align: center;
}



.video-card-button-left {
  margin: 0 0 !important;
  min-width: 20px !important;
}
.video-card-button-right {
  margin-left: 50% !important;
  min-width: 20px !important;
}
.video-card-back-content {
  height: 85% !important;
  overflow-y: auto;
}
.video-rank span {
  transform: scale(2) translate(100%, -25%) !important;
  background-color: goldenrod;
}
.video-rank {
  padding: 4%;
  margin-left: 35% !important;
}

